openapi: 3.1.0
info:
  title: EuNeném Banco Inter Pix webhook
  version: 1.0.0
  description: |
    Banco Inter Pix delivery contract. Inter does not sign this webhook, so
    the request is a bounded routing hint only. Every item is archived as a
    strict, PII-free identifier projection. A charge is re-queried through
    Banco Inter's authoritative read API only after its txid is atomically
    bound to an eligible local Inter payment and a durable provider-read lease
    is acquired. Pending/processing payments are eligible; approved payments
    are eligible only for an exact replay whose endToEndId matches the stored
    authoritative Inter transaction identity. Unknown, mismatched, ineligible,
    or already-leased txids never cause provider I/O.
servers:
  - url: https://eunenem.pocketsoftware.com.br
paths:
  /api/webhooks/inter/pix:
    post:
      operationId: receiveInterPixWebhook
      summary: Receive a Banco Inter Pix notification envelope
      description: |
        Register this base URL in Banco Inter. Some real deliveries append
        `/pix`; the suffix route below is the same handler. No application
        session or payload signature is required. A 200 means the envelope
        was durably archived, not that every item changed payment state.
        Additional provider fields are accepted for compatibility but are
        discarded before archival. Charge rows retain only `txid` and
        `endToEndId` and use the pair as their durable archive identity;
        refund rows retain only `endToEndId` and `idDevolucao`.
        Raw fan-out is capped before deduplication or work: at most 100
        expanded events and at most 20 total refund events per envelope.
        Exact repeated identities collapse; conflicting txid/endToEndId
        mappings make the whole envelope malformed.
      security: []
      x-rate-limit-tier: inter-webhook-600-per-minute-per-ip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterPixEnvelope'
            example:
              pix:
                - endToEndId: EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
                  txid: AAAAAAAAAAAAAAAAAAAAAAAAAA
      responses:
        '200':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/Malformed'
        '413':
          $ref: '#/components/responses/TooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalFailure'
  /api/webhooks/inter/pix/pix:
    post:
      operationId: receiveInterPixWebhookWithInterSuffix
      summary: Receive a Banco Inter Pix notification at the appended suffix
      description: Same handler and guarantees as `/api/webhooks/inter/pix`.
      security: []
      x-rate-limit-tier: inter-webhook-600-per-minute-per-ip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterPixEnvelope'
      responses:
        '200':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/Malformed'
        '413':
          $ref: '#/components/responses/TooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalFailure'
components:
  schemas:
    InterPixEnvelope:
      type: object
      additionalProperties: true
      required:
        - pix
      properties:
        pix:
          type: array
          minItems: 1
          maxItems: 100
          x-max-expanded-events: 100
          x-max-refund-events: 20
          items:
            $ref: '#/components/schemas/InterPixItem'
    InterPixItem:
      type: object
      additionalProperties: true
      required:
        - endToEndId
        - txid
      properties:
        endToEndId:
          type: string
          pattern: '^[A-Za-z0-9]{32}$'
        txid:
          type: string
          pattern: '^[A-Za-z0-9]{26,35}$'
        devolucoes:
          type: array
          maxItems: 20
          items:
            $ref: '#/components/schemas/InterPixRefundHint'
    InterPixRefundHint:
      type: object
      additionalProperties: true
      required:
        - id
      properties:
        id:
          type: string
          pattern: '^[A-Za-z0-9]{1,35}$'
  responses:
    Accepted:
      description: |
        Envelope durably archived. Individual items may remain pending after
        a failed or non-terminal authoritative re-query; no unverified state
        transition occurs. Unknown or ineligible charge txids are recorded as
        categorical binding failures without a Banco Inter API request.
      content:
        text/plain:
          schema:
            type: string
            const: ok
          example: ok
    Malformed:
      description: |
        JSON is invalid, violates the bounded envelope schema, expands beyond
        100 total events or 20 refund events, or contains conflicting
        txid/endToEndId identity mappings. Rejection happens before archive,
        repository, provider, or domain-dispatch work.
      content:
        text/plain:
          schema:
            type: string
            const: invalid event shape
    TooLarge:
      description: Request exceeds the 262144-byte body cap.
      content:
        text/plain:
          schema:
            type: string
            const: payload too large
    RateLimited:
      description: More than 600 requests in the fixed one-minute per-IP window.
      headers:
        Retry-After:
          schema:
            type: integer
            const: 60
      content:
        text/plain:
          schema:
            type: string
            const: too many requests
    InternalFailure:
      description: Archive or infrastructure failure; caller may retry.
      content:
        text/plain:
          schema:
            type: string
            const: internal error
